<div class="row">
    <div class="col-md-4">

        <!-- FORM -->
        <div class="panel panel-default">

            <div class="panel-heading"> <span class="glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span> <b>Add New Hardware Item</b></div>
            <div class="panel-body">
                <form>
                    <div class="form-group" style="display:none;">
                        <label for="Id">Id</label>
                        <input type="text" id="Id" class="form-control" data-bind="value:Id" placeholder="Hardware Item ID" />
                    </div><!-- END Id -->

                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select class="form-control" id="Type" data-bind="options:TypeList, value:Type, optionsCaption: 'Select Hardware Type ...' "></select>
                    </div><!-- END Type -->

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" id="Description" class="form-control" data-bind="value:Description" placeholder="Description" />
                    </div><!-- END Description -->

                    <div class="form-group">
                        <label for="SerialNumber">Serial Number</label>
                        <input type="text" id="SerialNumber" class="form-control" data-bind="value:SerialNumber" placeholder="SerialNumber" />
                    </div> <!-- END SerialNumber -->

                    <div class="form-group">
                        <label for="ImageUrl">Image Url</label>
                        <input type="file" data-bind="file: {data: ImageUrl, name: fileName, reader: someReader}">

                    </div> <!-- END ImageUrl -->

                    <div class="form-group">
                        <label for="PurchasePrice">Purchase Price</label>
                        <input type="number" id="PurchasePrice" class="form-control" data-bind="value:PurchasePrice" placeholder="PurchasePrice" />
                    </div> <!-- END ImageUrl -->


                    <button type="button" class="btn btn-success" data-bind="click:addHardware" id="Save">
                        <span class="glyphicon  glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                    </button>

                    <button type="button" class="btn btn-info" data-bind="click:clearFields" id="Clear">
                        <span class="glyphicon  glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear
                    </button>

                    <button type="button" class="btn btn-warning" data-bind="click:updateHardwareItem" style="display:none;" id="Update">
                        <span class="glyphicon  glyphicon glyphicon-pencil" aria-hidden="true"></span> Update
                    </button>

                    <button type="button" class="btn btn-default" data-bind="click:cancel " style="display:none;" id="Cancel">
                        <span class="glyphicon  glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                    </button>

                </form> <!-- END FORM -->
            </div> <!-- END PANEL BODY-->
        </div><!-- END PANEL-->
    </div> <!-- END  col-md-4 -->
    <div class="col-md-8">
        <div class="panel panel-default">
            <img data-bind="attr:{src: ImageUrl}" />
        </div> <!-- END PANEL-->
    </div> <!-- END col-md-8-->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="glyphicon  glyphicon glyphicon-zoom-in" aria-hidden="true"></span>  <b>Hardware List </b>
                <div class="loadingZone" style="color: #000; display:block; float:right; display:none;"> <img src="images/ajax-loader.gif" /> Refresh Data ...</div>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Serial Number</th>
                            <th>ImageUrl</th>
                            <th>Purchase Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead> <!-- END THEAD -->
                    <tbody data-bind="foreach:hardwareList">
                        <tr>
                            <td> <span data-bind="text:Id"></span> </td>
                            <td> <span data-bind="text:Type"></span></td>
                            <td> <span data-bind="text:Description"></span></td>
                            <td> <span data-bind="text:SerialNumber"></span> </td>
                            <td> <img data-bind="attr:{src:ImageUrl}" /> </td>
                            <td> <span data-bind="text:PurchasePrice"></span> </td>
                            <td> <button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.hardwareDetail"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true" data-bind="click: $root.deleteHardwareItem"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody> <!-- END TBODY -->
                </table> <!-- END TABLE -->
            </div>
        </div>
    </div>
</div>